<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css">
  <title>Register</title>
</head>

<body>
  <h1> Add User </h1>
  <form action="/users" method="POST">
    <div class="input-group">
      <label>Name</label>
      <input type="text" name="name">
    </div>

    <div class="input-group">
      <label>Email</label>
      <input type="text" name="email">
    </div>

    <button type="submit">Send</button>
    <a href="/users">Kembali</a>
  </form>
  <footer>
    <p>&copy; 2022 hafiz.expressjs</p>
  </footer>
</body>

</html>