<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Register </title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <%- include('../components/navbar.ejs') %>
    <a href="/users/create">Register</a>
    <h1>Daftar Pengguna (<%=users.length%>)</h1>
    <ul>
      <% if(users.length> 0) { %>
        <% users.forEach((user)=> { %>
          <li>
            <a href="/users/<%=user.id%>">
              <%= user.name.toUpperCase() %>
            </a>
          </li>
          <% }) %>
            <% } else { %>
              <p>Data user kosong.</p>
              <% } %>
    </ul>
    <footer>
      <p>&copy; 2022 hafiz.expressjs</p>
    </footer>

</body>

</html>